
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@font-face {
  font-family: blender;
  src: url('/assets/fonts/blender-book-webfont.woff2') format('woff2'),
        url('/assets/fonts/blender-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: blender-bold;
  src: url('/til/assets/fonts/blender-bold-webfont.woff2') format('woff2'),
        url('/til/assets/fonts/blender-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: blender-medium;
  src: url('/til/assets/fonts/blender-medium-webfont.woff2') format('woff2'),
        url('/til/assets/fonts/blender-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$rubik: 'Rubik', sans-serif;
$blender: blender;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}